


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color:White;
}
.saw{
  text-align: left;
}

nav.link{
  color: White;
}
.float-left{
  
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 380px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  ; /* Stay on top */
  top: 10px; /* Stay at the top */
  left: 0px;
  background-color: #343A40; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  margin-top:  40px;
  color:white;
  margin-left:0px;
  float: left;
  text-align: left;
}
input.form-control {
  width:350px;
}
.container .footer-text {
float:center;
}
.saww{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#343A40;
  color: white;
  text-align: center;
}

Navbar{
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
